@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,900&family=Rubik&display=swap');

body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    color: #505962;
  }
  
.offset:before{
    display:block;
    content: "";
    height: 4rem;
    margin-top: -4rem;
  }

  .navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgba(0, 0, 0, 0.6) !important;
    z-index: 20;
    min-height: 53px
  }

  .navbar-brand img {
    height: 1.8rem;
  }

  /*--------Landing Page---------*/
.home-inner {
  background-image: url(../img/notebook.jpeg);
  opacity: 0.3;
}

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top:20%;
  z-index: 1;
  color:#02B875;
  overflow-y: scroll;
  height: 70vh;
}

.caption h3 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
}

.btn-success {
  color: black;
  border-radius: 1rem;
}

/*---------Index Page---------*/
.wrapper {
  min-height: calc(100vh - 54px - 2352px);
  border-bottom: 1px solid transparent;
  display: flex;
  width: 100%;
}

#sidebar {
  position: fixed;
  width: 210px;
  bottom: 0;
  top: 53px;
  padding-bottom: 1em;
  overflow: auto;
  overflow-x: hidden;
  color: white;
  transition: all 0.3s;
  background-color: #02B875;
  scrollbar-width: thin;
  scrollbar-color: #414141 #232323;
  margin-left: 0;
  transition: all 0.3s;
  text-align: center;
}

#sidebar.active {
  margin-left: -210px;
}

#sidebar ul li a {
  padding-left: 1.5rem;
  font-size: 1.1em;
  display: block;
  text-align: left;
}

#sidebar.active ul li a {
  padding-left: 1.5rem;
  text-align: left;
  font-size: 1em;
}

#sidebar ul.components {
  border-bottom: 1px solid #02B875;
  padding-top: 0.4rem
}

#sidebar ul li a:hover {
  color: #02B875;
  background: #fff;
}

ul.CTAs {
  padding: 10px;
}

#sidebar-toggle {
  padding: 0 2rem 0 0.5rem;
  padding-right: 2rem;
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
}

.material-icons {
  vertical-align: middle;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
  width: 100%;
  position: absolute;
  top: 53px;
  width: calc(100% - 210px);
  padding: 2em 1em 2em 1em;
  min-height: 100vh;
  transition: all 0.3s;
  right: 0;
}

#content.active {
  width: 100%;
}


/**-------contact section -------*/
footer {
  color: #02B875;
  padding: 1rem 0rem 1rem;
  margin-top: 0rem;
  left:0;
  bottom:0;
  width: 100%;
  text-align: center;
  height: 9vh;
  position: absolute;
}


/**----------for smaller screen------------**/

@media (max-width: 768px) {
  #sidebar {
    margin-left: -210px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content.active {
    width: calc(100% - 210px);;
  }
  #content {
    width: 100%;
  }
}