{% extends "main/homebase.html" %}
{% load static %}
{% block title %}Create an Account{% endblock %}
{% load crispy_forms_tags %}
{% block register-content %}
<h3>Create an Account</h3>
<form method="POST" class="form-group">
  {% csrf_token %}
  <div class="form-row text-left">
      <div class="form-group col-md-6 mb-0">
        {{ form.username|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.email|as_crispy_field }}
      </div>
  </div>
  <div class="form-row text-left">
      <div class="form-group col-md-6 mb-0">
        {{ form.password1|as_crispy_field }}
      </div>
      <div class="form-group col-md-6 mb-0">
        {{ form.password2|as_crispy_field }}
      </div>
  </div>
  <p>Already have an account? Sign in <a href="/login">here</a></p>
  <button type="submit" class="btn btn-success">Sign Up</button>
</form>
{% endblock %}