{% extends 'main/base.html' %}
{% block title %}
HomeBase
{% endblock %}  

{% block main-content %}
<div class="landing">
    <div class="home-wrap">
        <div class="home-inner"></div>
    </div>
</div>
<div class="caption text-center">
    <div id="content", name="content", class="main">
        <div class="row justify-content-center">
            <div class="col-6">
                {% block register-content %}
                {% endblock %}
            </div>
        </div>      
    </div>
</div>
<div id="contact">
    <footer>
        <div class="row justify-content-center">
            &copy; Note Theme.
        </div>
    </footer>
</div>
{% endblock %}