{% extends "main/indexbase.html" %}
{% block title %} Note List {% endblock %}

{% block index-content %}
    
    <nav id="sidebar">
        <ul class="list-unstyled components">
            <li class="nav-item">
                <a class="nav-link" href="#home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#course">Course</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#features">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#resources">Resources</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#clients">Clients</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#course">Course</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#features">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#resources">Resources</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#clients">Clients</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
            </li>
        </ul>

        <ul class="list-unstyled CTAs">
            <div class="row justify-content-center">
                &copy; Note Theme.
            </div>
        </ul>
    </nav>

    <div id="content">
        1The note list:
    {% if note_list %}
        {% for nt in note_list %}
            <li>{{nt.tag}}</li>
        {% endfor%}
    {% else %}
        <p>No note available</p>
    {% endif %}
    <p>Add new note <a href="/add_note">here</a></p>
    <p>alskhgoa asljfo asdfhl askldjf asdfkl </p>
    <p>alskhgoa asljfo asdfhl askldjf asdfkl </p>
    <p>alskhgoa asljfo asdfhl askldjf asdfkl </p>
    <p>alskhgoa asljfo asdfhl askldjf asdfkl </p>
    <p>alskhgoa asljfo asdfhl askldjf asdfkl </p>
    <p>alskhgoa asljfo asdfhl askldjf asdfkl </p>
    <p>alskhgoa asljfo asdfhl askldjf asdfkl </p>
    <p>alskhgoa asljfo asdfhl askldjf asdfkl </p>
    <p>alskhgoa asljfo asdfhl askldjf asdfkl </p>
    <p>alskhgoa asljfo asdfhl askldjf asdfkl </p>
    <p>alskhgoa asljfo asdfhl askldjf asdfkl </p>
    <p>alskhgoa asljfo asdfhl askldjf asdfkl </p>
    <p>alskhgoa asljfo asdfhl askldjf asdfkl </p>
    <p>alskhgoa asljfo asdfhl askldjf asdfkl </p>
    <p>alskhgoa asljfo asdfhl askldjf asdfkl </p>
    <p>alskhgoa asljfo asdfhl askldjf asdfkl </p>
    <p>alskhgoa asljfo asdfhl askldjf asdfkl </p>
    <p>alskhgoa asljfo asdfhl askldjf asdfkl </p>
    <p>alskhgoa asljfo asdfhl askldjf asdfkl </p>
    <p>alskhgoa asljfo asdfhl askldjf asdfkl </p>
    <p>alskhgoa asljfo asdfhl askldjf asdfkl </p>
    <p>alskhgoa asljfo asdfhl askldjf asdfkl </p>
    <p>alskhgoa asljfo asdfhl askldjf asdfkl </p>
    <p>alskhgoa asljfo asdfhl askldjf asdfkl </p>
    <p>alskhgoa asljfo asdfhl askldjf asdfkl </p>
    <p>alskhgoa asljfo asdfhl askldjf asdfkl </p>
    <p>alskhgoa asljfo asdfhl askldjf asdfkl </p>
    <p>alskhgoa asljfo asdfhl askldjf asdfkl </p>
    <p>alskhgoa asljfo asdfhl askldjf asdfkl </p>
    <p>alskhgoa asljfo asdfhl askldjf asdfkl </p>
    <p>alskhgoa asljfo asdfhl askldjf asdfkl </p>
    <p>alskhgoa asljfo asdfhl askldjf asdfkl </p>
    <p>alskhgoa asljfo asdfhl askldjf asdfkl </p>
    <p>alskhgoa asljfo asdfhl askldjf asdfkl </p>
    <p>alskhgoa asljfo asdfhl askldjf asdfkl </p>
    <p>alskhgoa asljfo asdfhl askldjf asdfkl </p>
    <p>alskhgoa asljfo asdfhl askldjf asdfkl </p>
    <p>alskhgoa asljfo asdfhl askldjf asdfkl </p>
    <p>alskhgoa asljfo asdfhl askldjf asdfkl </p>
    <p>alskhgoa asljfo asdfhl askldjf asdfkl </p>
    <p>alskhgoa asljfo asdfhl askldjf asdfkl </p>
    <p>alskhgoa asljfo asdfhl askldjf asdfkl </p>
    <p>alskhgoa asljfo asdfhl askldjf asdfkl </p>
    <p>alskhgoa asljfo asdfhl askldjf asdfkl </p>
    <p>alskhgoa asljfo asdfhl askldjf asdfkl </p>
    <p>alskhgoa asljfo asdfhl askldjf asdfkl </p>
    <p>alskhgoa asljfo asdfhl askldjf asdfkl </p>
    <p>alskhgoa asljfo asdfhl askldjf asdfkl </p>
    </div>


        






    

{% endblock %}